.game-frame {
  display: flex;
  flex-direction:column;
  justify-content: space-around;
  align-items:center;
  background-color: #F5F5F5;
  height: 400px;
  border-radius: 5px;
  padding-right: 55px;
  padding-left:55px;
}

.grid-container{
  display: grid;
  grid-template-columns:15% 15% 15% 15% 15%;
  row-gap:25px;
  column-gap: 20px;
}
.btn-1{
  background: #5035FF;
  border:none;
  padding:8px 5px 8px 5px;
  color:white;
  border-radius: 5px;
  cursor: pointer;
  height:50px;
  width:120px;
  font-size:17px;
  font-family: karla;
  font-weight:700;
}
.btn-1:focus{
  outline: none;
}